@charset "UTF-8";

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}


img{
	Width:100%;
	margin:0;
	padding:0;
		
}

.no-pad, figure{
	padding:0;
	margin:0;
}

.card__text{
	padding:2%;
}

.dis-none{
	display:none;
}

@media only screen and (min-width: 50em) {

	img{
		display:block;
		width:100%;
	}

	.card{
		margin:0;
		position:relative;
		overflow:hidden;
		animation: slide-up 2000ms linear;
		
		-ms-animation:slide-up 2000ms linear;
		-moz-animation:slide-up 2000ms linear;
		-o-animation:slide-up 2000ms linear;
		
		-webkit-animation: slide-up 2000ms linear;
	}

	.card__text{
		background-color: rgba(255,255,255,.90);
		background-size:cover;
		position:absolute;
		bottom:-4em;
		width:95%;
		padding:1em;
		opacity:0;
		transition: all 250ms linear;
	}

	.card:hover .card__text{
		opacity:1;
		bottom:0;
	}

}

.img h3{
	background: center no-repeat url(image/captain.jpg) #A9A9A9 ;
	height:15rem;
	width:100%;
}