---
layout: default
---

<div>
	<div class="alpha_mask">
		<img class="target alpha_target" src="{{site.baseurl}}/images/rudy_gordon.jpg">
	</div>
</div>

<section id="about" class="grid">

	<div class="unit s-1 m-1 l-1-2">

		<div class="title_image">
			<img src="{{site.baseurl}}/images/about.png">
		</div>
	
	</div>

	<div class="unit s-1 m-1 l-1-2"> 

		{% include about.html class="about_home" about_content="Hi there, my name's Rudy and I like video games, the outdoors, and my dog sais i'm a pretty great guy. I enjoy branding, packaging, and web design. I also pride myself on being a big fan of all things Teenage Mutant Ninja Turtles. I always try to put aside some time to explore the world of design and develop new skills all the while remembering that each day is a gift."%}

	</div>

</section>

{% include work.html %}

{% include contact.html %}



