<div class="package_back">

  <div class=" package_layout">

      <div>
        
        <div class="scene"> 
            
          <div class="package">

            <div class="side front"> 

              <img src="{{site.baseurl}}/images/{{include.front}}">

            </div>

            <div class="side right"> 

              <img src="{{site.baseurl}}/images/{{include.side}}">

            </div>
            
          </div>

        </div>

      </div>

  </div> 

  <div>
    
    <p class="package_text package_mobile">(tap to image to see {{include.side_text}})</p>

    <p class="package_text package_desktop">(hover over image to see {{include.side_text}})</p>

  </div>

</div>