<header class="header">

  <a class="logo_link" href="{{site.baseurl}}/index.html">
	   <img class="logo" src="{{site.baseurl}}/images/logo_new.svg" alt="logo">
  </a>
	<!-- Menu Toggle Icon -->
	<a class="toggle-btn i-menu" href="#main-menu"><span>Menu</span></a>
   		<nav class="navigation slide-menu">
    	    <a class="close-btn i-close" href="#main-menu"><span>Close</span></a>

        <div class="nav_width">
    	    <ul>
    	    	<li><a href="{{site.baseurl}}/index.html">Home</a></li>
        	   	<li><a href="{{site.baseurl}}/#about">About</a></li>
           		<li><a href="{{site.baseurl}}/#work">Work</a></li>
          		<li><a href="{{site.baseurl}}/#contact">Contact</a></li>
       		</ul>
        </div>
    	</nav>

</header><!-- /header -->