<section>

 	<ul class="work work_wrapper">
 		
 		{%  for work in site.pages %}

	 		<li class="work work_content {{work.size}}">

	 			<a href="#">

		 			<img class="work work_image" src="{{site.baseurl}}{{work.image}}">

		 			<div class="work work_border">
		 			
		 				<h2 class="yotta work work_title">{{site.baseurl}}{{work.title}}<small class="work_small_tittle">({{site.baseurl}}{{work.meta}})</small>
		 				</h2>

		 			</div>

	 			</a>

	 		</li>
	 		
	 	{% endfor %}
 	</ul>

</section>
