<section>

 	<ul class="grid work work_wrapper">
 		
 		{% for work in site.pages %}

 			{% if work.category == "work" %}

		 		<li style="background: #222 url('{{work.image}}') no-repeat center center ; background-size: cover;" class="unit work_content {{work.size}}">

		 			<a href="#">

			 			<div class="work work_background">
			 			
			 				<h2 class="yotta work_border "><strong class="work_title">{{work.title}}<small class="work_small_tittle">({{work.meta}})</small></strong>
			 				</h2>

			 			</div>

		 			</a>

		 		</li>

	 		{% endif %}
	 		
	 	{% endfor %}
 	</ul>

</section>