 <!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Rudy Gordon · Graphic Design Extraordinaire · Ottawa, Ontario</title>

<link href="https://file.myfontastic.com/TPzH8Urc7HnZG8i8QPRbQe/icons.css" rel="stylesheet">
<link href="https://file.myfontastic.com/MGBNLMU3WjcpkEBDsk5FqN/icons.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<meta name="handheldfriendly" content= "true">
<meta name="mobileoptimized" content="240">	
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="This webpage is the a graphic design portfolio website for Rudy Gordon.">


<link rel="icon" type="image/png" href="{{site.baseurl}}/images/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{site.baseurl}}/images/favicon-16x16.png" sizes="16x16" />
</head>

<body class="noscript">
	<div class="site-wrapper" data-state="slide-closed">
		<div class="sliding-canvas">
      <header class="header">
        <img class="logo" src="{{site.baseurl}}/images/logo_new.svg" alt="logo">

          <!-- Menu Toggle Icon -->
        <a class="toggle-btn i-menu" href="#main-menu"><span>Menu</span></a>

        {% include nav.html %}

      </header><!-- /header -->

      	{{content}}

      <footer class="footer">

      	<p>copyright © 2017</p>

      </footer><!-- /footer -->
		</div> <!--slideing Canvas-->
	</div> <!--Wrapper-->

  <!-- JS -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="js/push-menu.js"></script>
	<script src="js/slow-scoll.js"></script>

</body>

</html>